#nprogress .bar {
  background: #f11941 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #f11941, 0 0 5px #f11941 !important;
}

#nprogress .spinner-icon {
  border-top-color: #f11941 !important;
  border-left-color: #f11941 !important;
}

